.netrwhist
npm-debug.log

plug.vim.old

config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/vscode-neovim.log
config/nvim/autoload/plug.vim
config/nvim/sessions/default.vim
vim/vim.symlink/spell/
vim/vim.symlink/plugged/



./coc-settings.json
./*.json

.DS_Store

